{% extends "base.html" %}


{% block page_content %}

<nav class="navbar navbar-inverse navbar-fixed-top " style="background-color:brown">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TDI Capstone</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
	  <li><a href="/about">About</a></li>
      <li><a href="/analysis">Analysis</a></li>
    </ul>
  </div>
</nav>


<div class="jumbotron" id="title" style="color:black">
    <h1 align="center"> Better 911 </h1>
    <p align="center"> Using data for a safer tomorrow! </p>
</div>

<div class="row" style="padding: 50px">
	<h4> The city of balimore is divided into 9 police districts as shown on the map below. We use machine learning techniques to learn from the 911 caller data of the city, to predict the count of emergencies in the various districts of the city in the coming weeks.</h4>
</div>

<div align="center" class="container">
<div class="row" style="padding: 50px">
    <iframe src="https://www.google.com/maps/d/embed?mid=1VB3xXMDgCL0ZccIuYbaaV29VfoU" width="800" height="600"></iframe>
    <!-- <iframe frameborder='0' align="center" style='position: absolute; background: transparent; width: 60%; height:60%;' src="{{ url_for('show_map') }}" frameborder="0"></iframe>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>-->
</div>
</div>

<div id="form-title" class="row" align="center" style="padding: 50px">
	<h4> Select the police district you want the forecast for, along with the priority level of the emergencies you are interested in.</h4>
</div>

<form id="form" method="POST" action="/" align="center" style="color: #A0A0A0">
    <div>{{ form.district.label }}: {{ form.district() }}</div>
    <div>{{ form.priority.label }}: {{ form.priority() }}</div>
    <div>{{ form.submit() }}</div>
</form>

{% if scroll %}
<script>
    document.getElementById('{{ scroll }}').scrollIntoView();
    // or
    document.location.hash = '#' + '{{ scroll }}';
</script>
{% endif %}


<div align="center" class="container">
    {{ script|safe }}
    {{ div|safe }}
</div>
{% endblock %}
